html, body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
  margin: 0px;
}

h1 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: white;
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
  position: absolute;
  display: block;
  background-color: white;
  z-index: 1;
  top: 800px;
  left: 0px;
  right: 0px;
}

.Content {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}

p {
  margin: 75px 0;
}

.Layer0, .Layer1, .Layer2, .Layer3 {
  display: flex;
  flex: 1 0 auto;
  position: absolute;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  left: 0px;
  right: 0px;
}

.Layer0 {
  background: url('./Layer0.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateZ(-15px) scale(16);
  top: 0px;
}

.Layer1 {
  background: url('./Layer1.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateZ(-9px) scale(10);
  top: 50px;
}

.Layer2 {
  background: url('./Layer2.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateZ(-5px) scale(6);
  top: 425px;
}

.name {
  position: absolute;
  left: 320px;
  color: white;
  font-size: 36pt;
  top: 125px;
}

.Layer3 {
  background: url('./Layer3.png');
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateZ(-1px) scale(2);
  top: 350px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
