html, body {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 28px;
  margin: 0px;
}

#stars {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -2;
  filter: brightness(.75);
}

h1 {
  letter-spacing: -15px;
  font-family: Open Sans;
  color: white;
  text-align: center;
  font-size: 200px;
  font-weight: 800;
  line-height: 200px;
}

.container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.inner-container {
  position: absolute;
  display: block;
  background-color: #3f3f3f;
  color: #f4f3ec;
  z-index: 1;
  top: 800px;
  left: 0px;
  right: 0px;
}

.content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 75px 0;
}

.panel-0 {
  background-color: #3f2448;
  color: #f4f3ec;
}

.panel-1 {
  background-color: #f4f3ec;
  color: #666;
}

.panel-2 {
  background-color: #3f3f3f;
  color: #f4f3ec;
}

.panel-2 .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.screenshot {
  background: black;
  height: 260px;
  width: 400px;
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,.5);
}

.screenshot.rocket {
  background: url('./images/rocketstats.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.screenshot.eyecue {
  background: url('./images/eyecuelab.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.panel-3 {
  background-color: #f4f3ec;
  color: #666;
  transform: skewY(3deg);
}

.panel-3 .content {
  height: 400px;
  transform: skewY(-3deg);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel-3 .bio {
  margin-left: 75px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}

.links {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

i {
  margin: 0px 5px 0px 10px;
}

.avatar {
  background: url('./images/raccoon.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 300px;
  width: 300px;
  min-height: 300px;
  height: 300px;
  border-radius: 50%;
}

.panel-3::after {
  content: '';
  height: 75px;
  background: #3f2448;
  width: 100%;
  transform: skewY(-3deg);
  z-index: 0;
  bottom: -40px;
  position: fixed;
}

p {
  margin: 75px 0;
}

.trees-0, .trees-1, .trees-2, .trees-3 {
  display: flex;
  flex: 1 0 auto;
  position: absolute;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  left: 0px;
  right: 0px;
}

.trees-0 {
  background: url('./images/trees-0.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateZ(-27px) scale(28);
  top: 200%;
}

.trees-1 {
  background: url('./images/trees-1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateZ(-11px) scale(12);
  top: 100%;
}

.trees-2 {
  background: url('./images/trees-2.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateZ(-9px) scale(10);
  top: 100%;
}

.trees-3 {
  background: url('./images/trees-3.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateZ(-1px) scale(2);
  top: 60%;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 30pt;
  font-weight: 100;
}

.name {
  position: absolute;
  left: 30px;
  color: white;
  font-size: 36pt;
  z-index: -1;
  font-weight: 100;    
  top: 125px;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
