@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
/* line 32, ../sass/styles.scss */
html, body {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 28px;
  margin: 0px;
}

/* line 39, ../sass/styles.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 43, ../sass/styles.scss */
a:hover, a:active {
  opacity: .9;
}

/* line 48, ../sass/styles.scss */
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 30pt;
  line-height: 30pt;
  font-weight: 100;
}

/* line 58, ../sass/styles.scss */
.justify {
  text-align: justify;
}

/* line 62, ../sass/styles.scss */
.container {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #26262d;
}
/* line 70, ../sass/styles.scss */
.container .inner-container {
  position: absolute;
  display: block;
  background-color: #26262d;
  color: #f4f3ec;
  z-index: 1;
  top: 125%;
  left: 0px;
  right: 0px;
}
/* line 81, ../sass/styles.scss */
.container .content {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 75px 0;
}

/* line 90, ../sass/styles.scss */
.tree-container .name {
  position: absolute;
  left: 30px;
  color: white;
  font-size: 36pt;
  z-index: -1;
  font-weight: 100;
  top: 18%;
  left: 19%;
}
/* line 101, ../sass/styles.scss */
.tree-container .trees-0, .tree-container .trees-1, .tree-container .trees-2, .tree-container .trees-3 {
  display: flex;
  flex: 1 0 auto;
  position: absolute;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  left: -5%;
  right: 0px;
}
/* line 112, ../sass/styles.scss */
.tree-container .trees-0.trees-0, .tree-container .trees-1.trees-0, .tree-container .trees-2.trees-0, .tree-container .trees-3.trees-0 {
  background: url("../images/trees-0.png");
  background-repeat: no-repeat;
  background-size: 1750px;
  transform: translateZ(-27px) scale(28);
  top: 75%;
}
/* line 120, ../sass/styles.scss */
.tree-container .trees-0.trees-1, .tree-container .trees-1.trees-1, .tree-container .trees-2.trees-1, .tree-container .trees-3.trees-1 {
  background: url("../images/trees-1.png");
  background-repeat: no-repeat;
  background-size: 1750px;
  transform: translateZ(-9px) scale(10);
  top: -50%;
}
/* line 128, ../sass/styles.scss */
.tree-container .trees-0.trees-2, .tree-container .trees-1.trees-2, .tree-container .trees-2.trees-2, .tree-container .trees-3.trees-2 {
  background: url("../images/trees-2.png");
  background-repeat: no-repeat;
  background-size: 1750px;
  transform: translateZ(-9px) scale(10);
  top: 50%;
}
/* line 136, ../sass/styles.scss */
.tree-container .trees-0.trees-3, .tree-container .trees-1.trees-3, .tree-container .trees-2.trees-3, .tree-container .trees-3.trees-3 {
  background: url("../images/trees-3.png");
  background-repeat: no-repeat;
  background-size: 1750px;
  transform: translateZ(-1px) scaleX(-1) scale(2);
  top: 35%;
}
/* line 143, ../sass/styles.scss */
.tree-container .trees-0.trees-3::after, .tree-container .trees-1.trees-3::after, .tree-container .trees-2.trees-3::after, .tree-container .trees-3.trees-3::after {
  content: '';
  background: #3f2448;
  width: 100%;
  height: 400px;
  bottom: -300px;
  position: relative;
}
@media (min-width: 1277px) {
  /* line 101, ../sass/styles.scss */
  .tree-container .trees-0, .tree-container .trees-1, .tree-container .trees-2, .tree-container .trees-3 {
    background-size: 100%;
  }
}

/* line 159, ../sass/styles.scss */
.panel-0 {
  position: absolute;
  display: block;
  z-index: 3;
  top: 80%;
  left: 0px;
  right: 0px;
  color: #f4f3ec;
}
/* line 168, ../sass/styles.scss */
.panel-0 p {
  margin: 75px 0;
}

/* line 173, ../sass/styles.scss */
.panel-1 {
  background-color: #f4f3ec;
  color: #666;
}
/* line 177, ../sass/styles.scss */
.panel-1 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 183, ../sass/styles.scss */
.panel-1 .content .port-row {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-around;
}
/* line 189, ../sass/styles.scss */
.panel-1 .content .port-row .port {
  width: 150px;
  height: 200px;
  filter: grayscale(50%);
  margin: 10px 15px;
}
/* line 195, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-css {
  background: url("../images/port-css.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 202, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-git {
  background: url("../images/port-git.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 209, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-html {
  background: url("../images/port-html.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 216, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-js {
  background: url("../images/port-js.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 223, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-ng {
  background: url("../images/port-ng.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 230, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-node {
  background: url("../images/port-node.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 237, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-react {
  background: url("../images/port-react.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 244, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-ruby {
  background: url("../images/port-ruby.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* line 251, ../sass/styles.scss */
.panel-1 .content .port-row .port.port-ts {
  background: url("../images/port-ts.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* line 262, ../sass/styles.scss */
#modal-container {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
/* line 274, ../sass/styles.scss */
#modal-container.rocket {
  display: flex;
}
/* line 277, ../sass/styles.scss */
#modal-container.rocket .overlay {
  display: unset;
}
/* line 281, ../sass/styles.scss */
#modal-container.rocket .rocket-modal {
  display: flex;
}
/* line 286, ../sass/styles.scss */
#modal-container.eyecue {
  display: flex;
}
/* line 289, ../sass/styles.scss */
#modal-container.eyecue .overlay {
  display: unset;
}
/* line 293, ../sass/styles.scss */
#modal-container.eyecue .eyecue-modal {
  display: flex;
}
/* line 298, ../sass/styles.scss */
#modal-container.powur {
  display: flex;
}
/* line 301, ../sass/styles.scss */
#modal-container.powur .overlay {
  display: unset;
}
/* line 305, ../sass/styles.scss */
#modal-container.powur .powur-modal {
  display: flex;
}
/* line 310, ../sass/styles.scss */
#modal-container .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  display: none;
}
/* line 321, ../sass/styles.scss */
#modal-container .screenshot-modal {
  position: relative;
  height: 90%;
  width: 90%;
  max-height: 500px;
  max-width: 750px;
  background: #f4f3ec;
  z-index: 5;
  padding: 25px;
  display: none;
  flex-direction: column;
}
/* line 333, ../sass/styles.scss */
#modal-container .screenshot-modal .close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #666;
  cursor: pointer;
  font-weight: 700;
}
/* line 342, ../sass/styles.scss */
#modal-container .screenshot-modal .images {
  display: flex;
  flex-direction: row;
  flex: 6;
  max-height: 325px;
}
/* line 348, ../sass/styles.scss */
#modal-container .screenshot-modal .images .image-1 {
  display: flex;
  flex: 7;
  margin: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* line 355, ../sass/styles.scss */
#modal-container .screenshot-modal .images .image-1 video {
  width: 100%;
  object-fit: cover;
}
/* line 361, ../sass/styles.scss */
#modal-container .screenshot-modal .images .image-col {
  display: flex;
  flex-direction: column;
  flex: 4;
}
/* line 366, ../sass/styles.scss */
#modal-container .screenshot-modal .images .image-col .image-2 {
  flex: 1;
  margin: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}
/* line 372, ../sass/styles.scss */
#modal-container .screenshot-modal .images .image-col .image-3 {
  flex: 1;
  margin: 5px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}
/* line 380, ../sass/styles.scss */
#modal-container .screenshot-modal .images .image:hover {
  cursor: zoom-in;
  opacity: .9;
}
/* line 385, ../sass/styles.scss */
#modal-container .screenshot-modal .images .image:active {
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  margin: 0px;
  cursor: zoom-out;
}
/* line 400, ../sass/styles.scss */
#modal-container .screenshot-modal.rocket-modal .images .image-1 {
  background: url("../images/rocket_0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 408, ../sass/styles.scss */
#modal-container .screenshot-modal.rocket-modal .images .image-col .image-2 {
  background: url("../images/rocket_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 415, ../sass/styles.scss */
#modal-container .screenshot-modal.rocket-modal .images .image-col .image-3 {
  background: url("../images/rocket_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 433, ../sass/styles.scss */
#modal-container .screenshot-modal.eyecue-modal .images .image-col .image-2 {
  background: url("../images/eyecue_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 440, ../sass/styles.scss */
#modal-container .screenshot-modal.eyecue-modal .images .image-col .image-3 {
  background: url("../images/eyecue_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 458, ../sass/styles.scss */
#modal-container .screenshot-modal.powur-modal .images .image-col .image-2 {
  background: url("../images/powur_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 465, ../sass/styles.scss */
#modal-container .screenshot-modal.powur-modal .images .image-col .image-3 {
  background: url("../images/powur_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 475, ../sass/styles.scss */
#modal-container .screenshot-modal .modal-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}
/* line 482, ../sass/styles.scss */
#modal-container .screenshot-modal .modal-content .chip-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  flex: 2;
}
/* line 492, ../sass/styles.scss */
#modal-container .screenshot-modal .modal-content .chip-container .chip {
  background: #343436;
  color: #f4f3ec;
  margin: 5px;
  padding: 2px 10px;
  box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.5);
}
/* line 501, ../sass/styles.scss */
#modal-container .screenshot-modal .modal-content .description {
  color: #666;
  flex: 3;
}
/* line 505, ../sass/styles.scss */
#modal-container .screenshot-modal .modal-content .description .links {
  text-align: center;
}
/* line 509, ../sass/styles.scss */
#modal-container .screenshot-modal .modal-content .description i {
  margin: 0px 5px 0px 10px;
}
/* line 512, ../sass/styles.scss */
#modal-container .screenshot-modal .modal-content .description i.first {
  margin-left: 0px;
}

/* line 521, ../sass/styles.scss */
.panel-2 {
  background-color: #26262d;
  color: #f4f3ec;
}
/* line 525, ../sass/styles.scss */
.panel-2 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}
/* line 531, ../sass/styles.scss */
.panel-2 .content .title {
  margin-bottom: 30px;
}
/* line 535, ../sass/styles.scss */
.panel-2 .content .screenshot-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 400px;
  flex-wrap: wrap;
}
/* line 543, ../sass/styles.scss */
.panel-2 .content .screenshot-container .screenshot-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 400px;
  margin: 0px 10px 30px;
}
/* line 552, ../sass/styles.scss */
.panel-2 .content .screenshot-container .screenshot-item .screenshot {
  background: black;
  height: 260px;
  width: 400px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  cursor: pointer;
}
/* line 560, ../sass/styles.scss */
.panel-2 .content .screenshot-container .screenshot-item .screenshot:hover {
  opacity: .9;
}
/* line 564, ../sass/styles.scss */
.panel-2 .content .screenshot-container .screenshot-item .screenshot.rocket {
  background: url("../images/rocketstats.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 570, ../sass/styles.scss */
.panel-2 .content .screenshot-container .screenshot-item .screenshot.eyecue {
  background: url("../images/eyecuelab.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 576, ../sass/styles.scss */
.panel-2 .content .screenshot-container .screenshot-item .screenshot.dashboard {
  background: url("../images/powur_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(93%);
}

/* line 588, ../sass/styles.scss */
.panel-3 {
  background-color: #f4f3ec;
  color: #666;
  transform: skewY(4deg);
}
/* line 593, ../sass/styles.scss */
.panel-3 .content {
  height: 275px;
  transform: skewY(-4deg);
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* line 600, ../sass/styles.scss */
.panel-3 .content .avatar {
  background: url("../images/raccoon.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-width: 250px;
  width: 250px;
  min-height: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 3px 20px -3px rgba(0, 0, 0, 0.5);
}
/* line 612, ../sass/styles.scss */
.panel-3 .content .bio {
  margin-left: 70px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
}
/* line 618, ../sass/styles.scss */
.panel-3 .content .bio .title {
  color: inherit;
  margin-bottom: 25px;
}
/* line 623, ../sass/styles.scss */
.panel-3 .content .bio .links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
/* line 628, ../sass/styles.scss */
.panel-3 .content .bio .links .link-row {
  display: flex;
  flex-direction: row;
}
/* line 632, ../sass/styles.scss */
.panel-3 .content .bio .links .link-row .first {
  flex: 4;
}
/* line 636, ../sass/styles.scss */
.panel-3 .content .bio .links .link-row .second {
  flex: 1;
}
/* line 640, ../sass/styles.scss */
.panel-3 .content .bio .links .link-row i {
  margin: 0px 5px 0px 10px;
}
/* line 648, ../sass/styles.scss */
.panel-3 a {
  align-items: center;
  display: flex;
}
